/*
 * Sly styles
 */
.page-header { margin-top: 35px; padding-bottom: 36px;  }
.page-header h1 { font-size: 3em; }
#download .btn-group { clear: both; }
.footer { margin-top: 45px; padding: 35px 0 36px 0; border-top: 1px solid #e5e5e5; }
.footer p { margin-bottom: 0; color: #555; }

/* universal sly */
.slyWrap .controls { margin: 20px 0 ; }

.controls { text-align: center; }

.sly { overflow: hidden; }
.sly > ul { list-style: none; margin: 0; padding: 0; }
.sly > ul li { position: relative; margin: 0; padding: 0; background: #4DBCE9; color: #fff; text-align: center; cursor: pointer; }
.sly > ul li.active { box-shadow: inset 0 0 0 1px #4DBCE9, inset 0 0 40px 20px #97e6f7; }

.pages { list-style: none; margin: 20px 0; padding: 0; text-align: center; }
.pages li { display: inline-block; width: 11px; height: 11px; margin: 0 2px; text-indent: -999px; background: #fff; border-radius: 10px; cursor: pointer;
	overflow: hidden; border: 1px solid #aaa;
}
.pages li:hover { background: #eee; }
.pages li.active { background: #999; border-color: #888; box-shadow: inset 0 0 0 2px #eee; }

.scrollbar .handle .line { font-size: 0; background: #888; }

#horizontal .sly { height: 170px; outline: 1px solid #4DBCE9; }
#horizontal .sly ul { height: 100%; }
#horizontal .sly ul li { float: left; width: 187px; height: 100%; margin: 0 10px 0 10px; font-size: 50px; line-height: 170px; }
#horizontal .scrollbar { margin: 10px 0 0 0; height: 20px; }
#horizontal .scrollbar .handle { width: 100px; height: 100%; cursor: pointer; }
#horizontal .scrollbar .handle .line { width: 100%; margin-top: 10px; height: 1px;}

#horizontal2 .sly { height: 200px; }
#horizontal2 .sly ul { height: 100%; }
#horizontal2 .sly ul li { float: left; width: 266px; height: 100%; margin: 0 1px 0 0; font-size: 50px; line-height: 200px; }
#horizontal2 .scrollbar { margin: 10px 0 0 0; height: 20px; }
#horizontal2 .scrollbar .handle { width: 100px; height: 100%; cursor: pointer; }
#horizontal2 .scrollbar .handle .line { width: 100%; margin-top: 10px; height: 1px; }

#horizontal3 .sly { height: 160px; }
#horizontal3 .sly ul { height: 100%; }
#horizontal3 .sly ul li { float: left; padding: 0 20px; width: 360px; height: 100%; font-size: 50px; opacity: 0.2; cursor: default;
	overflow: hidden; background: none; box-shadow: none; font-size: inherit; text-align: justify; color: #444;
	-webkit-transition: opacity 0.4s linear; -moz-transition: opacity 0.4s linear; -o-transition: opacity 0.4s linear; transition: opacity 0.4s linear; }
#horizontal3 .sly ul li.active { opacity: 1; }

.vertWrap { width: 800px; margin: 40px auto; }

#vertical { position: relative; }
#vertical .sly { width: 440px; height: 500px; border: 1px solid #aaa; }
#vertical .sly ul { width: 100%; height: 100%; overflow: hidden; }
#vertical .sly ul li { height: 80px; margin: 5px 0 8px 0; font-size: 40px; line-height: 80px; }
#vertical .scrollbar { position: absolute; top: 0; right: 0; width: 20px; height: 500px; }
#vertical .scrollbar .handle { width: 100%; height: 100px; cursor: pointer; }
#vertical .scrollbar .handle .line { width: 1px; height: 100%; margin-left: 50%; }

#vertical2 { position: relative; }
#vertical2 .sly { width: 440px; margin-left: 18px; height: 500px; border: 1px solid #aaa; background: #fff; }
#vertical2 .sly > div { padding: 1em 1.5em; }
#vertical2 .scrollbar { position: absolute; top: 0; left: -1px; width: 20px; height: 500px; }
#vertical2 .scrollbar .handle { width: 100%; height: 100px; cursor: pointer; }
#vertical2 .scrollbar .handle .line { width: 1px; height: 100%; margin-left: 50%; }
