body, html { height: 100%; background: #e8e8e8; }

/* Frame */
.frame { margin: 0 22px 0 0; height: 100%; }

/* Scrollbar */
.scrollbar {
	position: absolute;
	top: 10px;
	right: 10px;
	bottom: 10px;
	width: 2px;
	background: #eee;
}
.scrollbar .handle {
	width: 100%;
	height: 100px;
	background: #292a33;
	cursor: pointer;
}
.scrollbar .handle .mousearea {
	position: absolute;
	top: 0;
	left: -10px;
	width: 22px;
	height: 100%;
}

/* Images */
.images { padding: 10px 0 0 10px; }
.images figure { display: block; float: left; margin: 0 5px 7px 0; padding-top: 250px; width: 200px; border-bottom: 2px solid #ccc; background: #222; }
.images figure figcaption { display: block; padding: 7px 15px; height: 90px; color: #222; background: #fff; }
.images figure figcaption h4 { margin: 7px 0 5px; padding: 0; }
.images figure figcaption p { margin: 0; padding: 0; font-style: italic; font-size: 14px; line-height: 1.3; }