html, body { height: 100%; overflow: hidden; }

.pagespan { width: 940px; }

/* Scrollbar */
.scrollbar {
	position: absolute;
	top: 10px;
	right: 10px;
	bottom: 10px;
	width: 2px;
	background: #eee;
}
.scrollbar .handle {
	width: 100%;
	height: 100px;
	background: #292a33;
	cursor: pointer;
}
.scrollbar .handle .mousearea {
	position: absolute;
	top: 0;
	left: -10px;
	width: 22px;
	height: 100%;
}

/* Content */
.content { position: relative; margin: 0 auto; padding: 1px 0 30px 0; z-index: 30; }
p.center { text-align: center; }

/* Position */
.pos {
	width: 400px;
	margin: 50px auto;
	padding: 15px 25px;
	text-align: right;
	background: #fff;
}
.pos .cur { font-size: 80px; }
.pos .slash { margin: 0 5px 0 10px; font-size: 80px; }
.pos .max { font-size: 50px; color: #aaa; }

/* Particles */
.particles { position: absolute; margin: 0; padding: 0; top: 0; left: 0; width: 100%; height: 100%; list-style: none; overflow: hidden; }
.particles li { position: absolute; top: 0; left: 0; width: 10px; height: 10px; margin: 0; padding: 0; border-radius: 50%; background: #a03232; }